#btn {
    font-size: 28px;
    background-color: #3399FF;
    color: #ffffff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 850px;
    margin-top: 400px;
}
 
#btn::before {
    content: "\1F44D  Like  ";
}